<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demodjproject.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1>WELCOME TO MUKESH JOBS</h1>
        <p>continuous job updates for every hour...</p>

        <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Hyderabad jobs</a>&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/blorejobs" role="button">Bangalore jobs</a>&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">Chennai jobs</a>&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/punejobs" role="button">Pune jobs</a>
      </div>
    </div>
  </body>
</html>
